.author {
  font-size: 14px;
  color: #fff;
  line-height: 44px;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px #f1f1f1 solid;
  padding-bottom: 4px;
  width: auto;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

body {
  font-size: 14px;
}

.top-bar {
  margin-bottom: 40px;
}

strong {
  color: #999;
  padding-top: 12px;
  display: block;
}

small {
  font-size: 12px;
}

.material:before {
  width: 20px;
  height: 20px;
  content: '- ';
}

.material span {
  color: #444;
  font-size: 12px;
}

.materials li {
  padding: 20px;
}

.materials li:target {
  background: #fafafa;
  border-radius: 3px;
}